body{
    font-family: sans-serif; 
    padding: 20px; 
    text-align: center; 
    background: #fafafa;
}

#results{
    margin-top: 30px;
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    align-items: center;
}

.verb-box{
    max-height: 500px; 
    overflow-y: auto; 
    border: 2px solid #2ecc71; 
    padding: 20px; 
    margin: 20px auto; 
    width: fit-content; 
    min-width: 250px;
}

#copyContainer{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

#copyButton{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#copyButton:hover{
    background-color: #2980b9;
}